@model IEnumerable<Act_2.Models.ProductModel>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <div class="container d-flex flex-wrap">
        @foreach (var item in Model) {
                <div class="card" style="width: 18rem; margin:5px;">
                    @{
                        var s = item.Name;
                        var firstWord = s.IndexOf(" ") > -1 ? s.Substring(0, s.IndexOf(" ")) : s;
                    }
                   

                <img src="https://loremflickr.com/160/120/@firstWord?lock=@item.Id" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>

                    <p class="card-text"> @Html.DisplayFor(modelItem => item.Price)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </div>
    </tbody>
</table>
